{% extends "@contact-core/layout_backend.html.twig" %}
{% import "@bolt/_macro/_macro.html.twig" as macro %}

{% block shoulder %}
    {{ "Visualisation d'une question / réponse envoyée par un internaute" }}
{% endblock shoulder %}

{% block title %}
    {{ macro.icon('eye') }}
    Visualisation d'une question / réponse
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <style>
        .block_demand {
            background-color: lightgray;
        }
        .block_response {
            background-color: lightyellow;
        }
    </style>
{% endblock %}

{% block main %}
    {{ parent() }}

    <div class="col-12 row">
        <h2>Demande de {{ demandeur.fullname() }} saisie le {{ qr.createdAt }}</h2>
        <div class="block_demand col-12 row my-2 p-2">
            <div class="block col-12 row">
                <div class="sujet_label col-3 h3">Sujet</div>
                <div class="sujet_texte col-9 h3">{{ qr.sujet }}</div>
            </div>
            <div class="block col-12 row">
                <div class="demand_label col-3 h3">Demande</div>
                <div class="demand_texte col-9 h3">{{ qr.demande[:200] }}</div>
            </div>
            <div class="block col-12 row mt-1">
                <div class="demand_label col-2 h3">Traitée le</div>
                <div class="demand_texte col-2 h3">{{ qr.treatedAt }}</div>
                <div class="demand_label col-2 h3">Envoyée le</div>
                <div class="demand_texte col-2 h3">{{ qr.sendAt }}</div>
                <div class="demand_label col-2 h3">Clôturée le</div>
                <div class="demand_texte col-2 h3">{{ qr.closedAt }}</div>
            </div>
        </div>
        <div class="block_response col-12 row my-2 p-2">
            <div class="block col-12 row">
                <div class="operateur_label col-3 h3">Réponse de</div>
                <div class="operateur_texte col-9 h3">{{ 'test' }}</div>
            </div>
            <div class="block col-12 row">
                <div class="respond_label col-3 h3"></div>
                <div class="respond_texte col-9 h3">{{ qr.reponse[:200] }}</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
