{% extends '@theme/partials/_master.twig' %}
{% import "@contact-core/macros/form_type.html.twig" as fields %}
{% import "@contact-core/macros/open_street_map.twig" as OSM %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ asset('contact-assets/css/bootstrap.min.css') }}"/>
    <style>
        textarea {
            max-width: 100%;
        }

        .map-section {
            padding-bottom: 5em;
        }

        .errors-form {
            padding: 1em;
        }

        .errors-form .error-line {
            color: red;
        }

        .w-20p {
            width: 20%;
            float: left;
        }

        .w-50p {
            width: 50%;
            float: left;
        }

        .w-80p {
            width: 80%;
            float: left;
        }

        .h-8 {
            height: 2rem
        }

        .h-12 {
            height: 3rem
        }

        .no-float {
            float: none;
        }

        .lmt-8 {
            position: relative;
        }
    </style>
    {% include '@contact-core/includes/_map_css.twig' %}
{% endblock %}

{% block content %}
    <section class="mt-16 w-full mx-4 px-4 my-4">
        <div class="container px-5 py-8 mx-auto bg-gray-100">
            <h2 class="text-2xl font-semibold px-2 text-center my-2">Formulaire de contact</h2>
            <div class="px-2 mt-4 mb-2 row">
                {% if coordonnees.visu %}
                    <div class="col-6 h-auto">
                        <div class="col-12">
                            <div class="col-12 mb-2 px-2">
                                <h3 class="text-lg">Nous contacter</h3>
                                <p class="text-xs">Vous pouvez nous contacter en remplissant le formulaire si contre ou
                                    par l'un des
                                    moyens suivant.</p>
                            </div>
                            <div class="col-12 mb-2 px-2">
                                <h3 class="text-lg">Nous appeler</h3>
                                    <p class="text-xs">{{ coordonnees.tel }}</p>
                            </div>
                            <div class="col-12 mb-2 px-2">
                                <h3 class="text-lg">Nous écrire</h3>
                                <p class="text-xs"><a href="mailto:{{ coordonnees.courriel }}" class="__cf_email__"
                                                      data-cfemail="8ce5e2eae3cce1ede5e0a2efe3e1">{{ coordonnees.courriel }}</a>
                                </p>
                            </div>
                            <div class="col-12 mb-2 px-2">
                                <h3 class="text-lg">Notre Adresse</h3>
                                <p class="text-xs">{{ adresse.adresse }}</p>
                                {% if adresse.complement is not empty %}
                                    <p class="text-xs">{{ adresse.complement }}</p>
                                {% endif %}
                                <p class="text-xs">{{ adresse['code-post'] }} {{ adresse.ville }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="{% if coordonnees.visu %}col-6 lmt-8{% else %}col-12 mt-1{% endif %}">
                    <div class="col-12 row">
                        <h2 class="col-12 text-xl">Faite votre demande ici</h2>
                        {{ form_start(form, {'class': 'col-12'}) }}
                            {{ form_row(form._token) }}
                            {% set errors = form.vars.errors.form.getErrors(true) %}
                            {% if errors|length %}
                                <ul class="errors-form col12 row">
                                    {% for error in errors %}
                                        <li class="error-line col-12 text-xs">{{ error.message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="col-12 mt-2 h-6 row px-0">
                                {{ fields.field(form.nom, "", {
                                    'class': 'col-6 mb-2 me-1 px-0', 'placeholder': 'Votre nom*',
                                    'il_class': {'label': 'col-4 px-2 text-sm', 'input': 'col-8 text-sm'},
                                }) }}
                                {{ fields.field(form.prenom, '', {
                                    'class': 'col-6 mb-2 ms-1 px-0', 'placeholder': 'Votre prénom',
                                    'il_class': {'label': 'col-4 px-2 text-sm', 'input': 'col-8 text-sm'}
                                }) }}
                            </div>
                            <div class="col-12 mt-2 h-6 row px-0">
                                {{ fields.field(form.adrCourriel, '', {
                                    'class': 'col-6 mb-2 me-1 px-0',
                                    'placeholder': "Votre @mail*",
                                    'il_class': {'label': 'col-4 px-2 text-sm', 'input': 'col-8 text-sm'}
                                }) }}
                                {{ fields.field(form.telephone, '', {
                                    'class': 'col-6 mb-2 ms-1 px-0', 'placeholder': 'Votre téléphone',
                                    'il_class': {'label': 'col-4 px-2 text-sm', 'input': 'col-4 text-sm'}
                                }) }}
                            </div>
                            <div class="col-12 row mt-2 px-0">
                                {{ fields.field(form.sujet, '', {
                                    'class': 'col-12 mb-2 row px-0',
                                    'placeholder': "L'objet de votre demande*",
                                    'il_class': {'label': '', 'input': ''}
                                }) }}
                                {% set classTextArea = coordonnees.visu ? 'col-12 px-0' : '' %}
                                {{ fields.textarea(form.demande, '', {
                                    'class': classTextArea, 'cols': "72", 'rows': "5",
                                    'placeholder': " Saisissez votre demande*",
                                }) }}
                            </div>
                            <div class="col-12 row mt-2 text-center px-0">
                                {{ fields.checkbox(form.contactMe, 'Je souhaite que vous me contactiez', {
                                    'class': '', 'inline': true, 'cl_class': {'check': 'ms-0 me-2' }
                                }) }}
                            </div>
                            <div class="col-12 row mt-2 px-0">
                                {{ fields.submitbtn(form.submit, "", {
                                    'class': 'col-12 text-white gradient text-center btn btn-success',
                                }) }}
                            </div>
                        {{ form_end(form, {render_rest: false}) }}
                        <div class="col-12 row mt-2 text-right text-gray-600 px-0">
                            * champs obligatoires
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if OSM_params.visu %}
        <div class="mt-16 w-full mx-4 px-4 mb-4 map-section">
            <div class="container px-5 py-8 mx-auto bg-gray-100">
                <div class="w-full">
                    <div class="w-full">
                        <div class="mapouter">
                            <div class="gmap_canvas">
                                {{ OSM.map(OSM_params.container, {
                                    'height': OSM_params.height,
                                    'lat': OSM_params.lat, 'long': OSM_params.long,
                                    'zoom': OSM_params.zoom,
                                    'zoomMax': OSM_params.zoomMax, 'zoomMin': OSM_params.zoomMin,
                                    'libellM': config.get('general/sitename'),
                                }) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('contact-assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('contact-assets/js/tom-select.complete.js') }}"></script>
{% endblock %}