{% set background = 'background: #C8E8C2;' %}
{% set background_title = 'background: #344830; color: white;' %}
{% set contactInfos = contactInfos() %}
<div class="card mb-4">
    <div class="card-header" style="{{ background_title }}">
        <i class="fas fa-user-shield"></i> Contact Demands Informations Control
    </div>
    <div class="image card-img-top"
         style="{{ background }} height: 120px; padding-top: 10px; background-size: cover; background-position: center center;">
        <div class="w-full text-left ml-1">{{ sprintf("%'.02d\n", contactInfos.a_traiter) }} => Requêtes à traiter</div>
        <div class="w-full text-left ml-1">{{ sprintf("%'.02d\n", contactInfos.last2weeks) }} => Requêtes Crées sur 2 semaines</div>
        <div class="w-full text-left ml-1">{{ sprintf("%'.02d\n", contactInfos.goToEnd) }} => Requêtes Arrivant à terme</div>
        <div class="w-full text-left ml-1">{{ sprintf("%'.02d\n", contactInfos.outOfTime) }} => Requêtes Hors Délai de traitement</div>
    </div>
</div>
